p.p3d{font-family:Arial,Helvetica,sans-serif;font-size:20px;}
body {
  background-color:#d0e4fe;}
p.p1b{font-family:Arial,Helvetica,sans-serif;font-size:20px;}
footer{
  background-color:#87CEFA;}
  header{
    background-color:#87CEFA;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.h10 {color:rgb(216, 101, 24)}
.h11 {color:rgb(216, 101, 24)}